
/* Import Google font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Declare variables */

:root {
    --section-header-padding: 50px 0px;
    --about-me-color: antiquewhite;
    --work-color: lightblue;
    --contact-me-color: lightgrey;
    --light: #fff;
    --navlink-color: #b9c6ae;
  }

/* Global layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    
}

/* Global heading font */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}


h3 {
    font-size: 28px;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
}

/* Header logo */

.logo h1 {
    padding: 18px;
    font-weight: 30px;
    color: #fff;

}

/* Header navigation bar */

header ul li {
    list-style: none;
    display: inline;
    padding: 20px;
    font-weight: 25px;
}

header ul li a {
    text-decoration: none;
    color:white;
}


/* About me header */

#about-me-header {
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: var(--about-me-color);
    Padding: var(--section-header-padding);
}

/* About me content */

.about-me-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--about-me-color);
    padding-bottom: 80px;
}


/* About Me - profile picture */

.profile-picture {
    padding: 0px;
}

.profile-picture img {
    width: 375px;
    height: 375px;
    border-radius: 50%;
}

/* Profile description */

.about-me-description {
    padding: 100px;
    
}

.about-me-description p {
    font-size: 24px;
    font-weight: 600;
}


/* Work header */

#work-header {
    display: flex;
    align-items:center;
    justify-content: center;
    padding: var(--section-header-padding);
    background-color:var(--work-color);
}

/* Work content */

.work-main-project {
    display: block;
    text-align: center;
    background-color:var(--work-color);
    padding-bottom: 50px;

}

.work-main-project-title {
    padding-bottom: 20px;
}

.work-main-project-image {
    padding-bottom: 20px;
}

.work-main-project-image img {
    width: 65vw;
    height: 600px;
}


.work-sub-project {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background-color:var(--work-color);

}

.work-sub-project div h3 {
    padding: 0px 0px 10px 0px;
}

.work-sub-project div img {
    padding-bottom: 20px;
}

.work-sub-project div p {
    padding-bottom: 50px;

}

/* Contact me */

#contact-me-header {
    display: flex;
    align-items:center;
    justify-content: center;
    padding: var(--section-header-padding);
    background-color:var(--contact-me-color);

}

.contact-me-content {
    background-color: var(--contact-me-color);
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.contact-me-content div p {
    font-size: large;
    font-weight: bolder;
}

/* Footer layout */

footer {
    background-color: blueviolet;
}


/* Responsive to screen size (change to stacking column when the screen size is small */

@media (max-width: 1200px) {
    .about-me-content {
       flex-direction: column;
   }
   .work-sub-project {
    flex-direction: column;
   }
   .contact-me-content {
    flex-direction: column;
    }

}

/* Smooth scroll */

html {
    scroll-behavior: smooth;
  }